/* a:link, a:visited {
  color: black;
  text-decoration: none;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: .0625em;
} */

.text-link {
  color: black;
  text-decoration: none;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: .0625em;
}

.font-link {
  font-family: 'Ibarra Real Nova', serif;
}

.App {
  background-color: whitesmoke;
  font-family: 'Ibarra Real Nova', serif;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.border {
  min-width: 25vw;
  background-color:whitesmoke;
}

.Main {
  height: 100vh;
  min-width: 50vw;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-top: 15vmin;
  padding-bottom: 5vmin;
}

.text {
  font-size: calc(10px + 1vmin);
}


.stagger {
  padding-left: 5vmin;
}

.App-footer {
  text-align: center;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding-bottom: 5vmin;
  font-size: calc(10px + 1vmin);
  
  position: fixed;
  bottom: 0;
  width: 50%;
}

.Icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: calc(5px + 2vmin);
  padding-top: 5vmin;
}

.Icons {
  height: calc(10px + 3vmin);
  width: calc(10px + 3vmin);
}

/* a:link { text-decoration: none;}
a:visited { text-decoration: none; color:black}
a:hover { text-decoration: none; }
a:active { text-decoration: none; } */ */



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
